.GetReady {
  .phoneImg {
    animation: move 1s infinite ease alternate;
  }

  @keyframes move {
    from {
      transform: translateY(-15px);
    }

    // to {
    //   transform: translateY(0px) scale(1.03);
    // }
  }
}

@media (max-width: 600px) {
  .GetReady {
    .p-20 {
      padding: 3%;
      padding-top: 5%;

      .p-20 {
        padding: 10%;
      }
    }
  }
}
